@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

@import "tailwindcss";

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@theme {
  --color-background: #F3EDE4;
  --color-primary: #6F4E37;
  --color-secondary: #A0522D;
  --color-detail: #D2691E;
  --color-text: #2B1B12;
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@layer base {
  body {
    @apply bg-background dark:bg-gray-800 transition-colors duration-500;
    font-family: 'Inter', sans-serif;
  }

  body.modal-open {
    overflow: hidden;
  }

  .font-title {
    /* font-family: 'Pacifico', cursive; */
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: 400;
}
}
