@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

@import "tailwindcss";

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@theme {
  --color-background: #F3EDE4;
  --color-primary: #6F4E37;
  --color-secondary: #A0522D;
  --color-detail: #D2691E;
  --color-text: #2B1B12;
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

@layer base {
  body {
    @apply bg-background dark:bg-gray-800 transition-colors duration-500;
    font-family: 'Inter', sans-serif;
  }

  body.modal-open {
    overflow: hidden;
  }

  .font-title {
    /* font-family: 'Pacifico', cursive; */
    font-family: "Edu NSW ACT Cursive", cursive;
    font-weight: 400;
}

.font-logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
}

.swiper-pagination-bullet-active {
    background: #A0522D !important; /* Exemplo: muda para vermelho. Use a cor que preferir. */
}

.swiper-button-prev,
.swiper-button-next {
    color: #ffffff !important; /* Exemplo: muda a cor das setas para branco */
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    color: #cccccc !important; /* Exemplo: muda a cor para um cinza claro no hover */
}

/* Para navegadores baseados em WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #F3EDE4; /* Cor de fundo da trilha da barra de rolagem */
  border-radius: 0px 20px 20px 0px; /* Borda arredondada da trilha */
}

::-webkit-scrollbar-thumb {
  background-color: #2B1B12; /* Cor do "polegar" (a parte que você move) */
  border-radius: 20px; /* Borda arredondada do polegar */
  border: 3px solid #F3EDE4; /* Borda em volta do polegar, para separá-lo da trilha */
}

/* Quando o mouse estiver sobre a barra */
::-webkit-scrollbar-thumb:hover {
  background-color: #6F4E37; /* Uma cor um pouco mais clara para o efeito de hover */
}