@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant light (&:where(.light, .light *));

body {
  font-family: 'Inter', sans-serif;
  /* background-color: #fcf7dd; */
  /* background-color: #ffe7f4; */
  @apply bg-pink-100 dark:bg-gray-800;
  transition: background-color 0.5s ease;
}

body.modal-open {
  overflow: hidden;
}
